@import '_colors.scss';		// Color declarations
@import '_mixins.scss';		// Cross-browser implementation of transitions, shadows, etc
@import '_fonts.scss';		// Font and font-style declarations

html,
body {
	height: 100%;
	background-color: white;
	color: black;
}
body {
	font-family: $body-font-stack;
}
h1 {
	font-family: $header-font-stack;
	margin: 10px;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
}
.row{
	margin: 0;
}
header{
	height: 60px;
	border-bottom: 1px solid black;
}
header h1{
	line-height: 60px;
	margin: 0;
	text-transform: none;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5 {
	border-left: 1px solid black;
}
.half{
	min-height: 510px;
}
.quarter{
	height: 255px;
}
ul{
	list-style: none;
	padding: 0;
}
#email h2{
	font-size: 16px;
}
#clock table{
	width: 100%;
	text-align: center;
}
#clock h1{
	font-size: 56px;
}
#clock span{
	font-size: 36px;
}
#clock #date{
	font-size: 24px;
}
.calendar{
	padding: 0;
}
.calendar li{
	height: 50px;
	border-bottom: 1px solid gray;
	box-sizing: border-box;
	width: 100%;
	line-height: 50px;
	padding-left: 20px;
	font-size: 16px;
}
.calendar li .time{
	color: gray;
}
